[init]
	defaultBranch = main

[user]
	name = fumiya.kondo
	{{- if eq .chezmoi.hostname "WINAP3rPQy2xLY6" }}
	email = fumiya.kondo@avanade.com
	{{- else }}
	email = fumiya.kondo.1128@gmail.com
	{{- end }}

[alias]
	ss = status
	br = branch
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
{{ if eq .chezmoi.hostname "7fb6f0349813" }}
[credential]
	helper = store
{{ end }}
[core]
	autocrlf = input
[pull]
   ff = only
