[init]
	defaultBranch = main

[user]
	name = fumiya.kondo
{{ if eq (env "CHEZMOI_IS_WORK") "true" }}	email = fumiya.kondo@avanade.com
{{ else }}	email = fumiya.kondo.1128@gmail.com
{{ end }}
[alias]
	ss = status
	br = branch
